@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background-color: black;
  color: white;
}

#TaskList::-webkit-scrollbar {
  display: none;
}

#tasks::-webkit-scrollbar {
  display: none;
}
