@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  background-color: #000000;
  font-family: var(--font-Heebo);
  color: #ffffff;
}

section {
  /* border: 2px solid #ffffff; */
  position: relative;
  z-index: 2;
}

#section-1,
#section-2 {
  min-height: 100vh;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf");
}

/*  */
@font-face {
  font-family: "GT";
  src: url("/fonts/GTSectraDisplay-Bold.woff2");
}
/*  */
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Regular.woff2");
}

@font-face {
  font-family: "Heebo thin";
  src: url("/public/fonts/Heebo-Thin.woff2");
}

@theme {
  --font-gilroy-bold: "Gilroy-Bold";
  --font-gilroy-extrabold: "Gilroy-ExtraBold";
  --font-gilroy-light: "Gilroy-Light";
  --font-gilroy-medium: "Gilroy-Medium";
  --font-gilroy-regular: "Gilroy-Regular";
  --font-gt: "GT";
  --font-Heebo: "Heebo";
  --font-Heebo-thin: "Heebo thin";
}

.title {
  transition: all 0.3s linear;
  cursor: pointer;
}

.title:hover {
  opacity: 1;
}

/* #section-1 {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-elem {
      max-width: 10rem;
      min-height: 2rem;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
} */

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/images/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}

/* main:has is used to select the element that has a child element */
/* if in main element in section-2 is .title:hover happens then #canvas-elem::after will be applied */
main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) #tomorrowland {
  opacity: 1;
  background-color: rgba(11, 26, 85, 0.566);
}
main:has(#section-2 .title[img-title="navy-pier"]:hover) #navy-pier {
  opacity: 1;
  background-color: rgba(11, 26, 85, 0.566);
}
main:has(#section-2 .title[img-title="msi-chicago"]:hover) #msi-chicago {
  opacity: 1;
  background-color: rgba(11, 26, 85, 0.566);
}
main:has(#section-2 .title[img-title="phone"]:hover) #phone {
  opacity: 1;
  background-color: rgba(11, 26, 85, 0.566);
}
main:has(#section-2 .title[img-title="kikk"]:hover) #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}
main:has(#section-2 .title[img-title="kennedy"]:hover) #kennedy {
  opacity: 1;
  background-color: rgba(11, 26, 85, 0.566);
}
main:has(#section-2 .title[img-title="opera"]:hover) #opera {
  opacity: 1;
  background-color: rgba(176, 4, 4, 0.874);
}

#section-3 {
  position: relative;
  z-index: 0;
  isolation: isolate;
  p {
    position: relative;
    z-index: 4;
    background-color: #fff;
  }
}
