@import "tailwindcss";

html,
body {
  /* overflow-x: hidden; */
  font-family: var(--font-inter);
  font-weight: 600;
}

@font-face {
  font-family: "GT";
  src: url("/fonts/GTSectraDisplay-Bold.woff2");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "HJ";
  src: url("/fonts/Holly Jolly.ttf");
}

@font-face {
  font-family: "Op";
  src: url("/fonts/one-piece-font.ttf");
}

@theme {
  --font-HJ: "HJ";
  --font-inter: "inter";
  --font-GT: "GT";
  --font-Op: "Op";
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6556cd;
  border-radius: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #27272a;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #27272a;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em;
  background: #27272a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #6556cd;
}
