@import "tailwindcss";

html,
body {
  /* overflow-x: hidden; */
  font-family: var(--font-bokra);
}

@font-face {
  font-family: "GT";
  src: url("/fonts/GTSectraDisplay-Bold.woff2");
}

@font-face {
  font-family: "bokra";
  src: url("/fonts/BOKRA.ttf");
}

@font-face {
  font-family: "HJ";
  src: url("/fonts/Holly Jolly.ttf");
}

@font-face {
  font-family: "Imperium";
  src: url("/fonts/Imperium.otf");
}

@theme {
  --font-HJ: "HJ";
  --font-bokra: "bokra";
  --font-GT: "GT";
  --font-Imperium: "Imperium";
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6556cd;
  border-radius: 10px;
}
