@import "tailwindcss";

/* * {
  font-family: "helvetica neue";
  color: rgb(244, 244, 244);
} */

:root {
  --c1: rgb(12, 43, 78);
  --c2: rgb(23, 61, 100);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);
}
